@font-face {
	font-family: 'Title';
	src: url("Lobster.otf");
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: roboto, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
}

header {
	width: 100%;
	height: 12vh; /*height: 105px;*/
	background-color: #F9D518;
}

header h1 {
	font-family: Title, cursive;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 12vh; /*line-height: 105px;*/
	font-size: 2rem;
}

main, footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer h2 {
	text-align: center;
}