@font-face {
	font-family: 'Title';
	src: url("Lobster.otf");
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: roboto, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: 12vh; /*height: 105px;*/
	background-color: #F9D518;
}

header h1 {
	font-family: Title, cursive;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 12vh; /*line-height: 105px;*/
	font-size: 2rem;
}

main, footer {
	display: flex;
	align-items: space-between;
	justify-content: center;
}

main {
	height: 48vh;
	width: 100%;
}

main h2 {
	margin: 10px 0 10px 0;
	font-size: 1.2rem;
}

footer {
	height: 130vh;
	flex-direction: column;
	text-align: center;
}

footer .AboutUs {
	width: 100%;
	height: 30vh;
}

.contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	width: 70%;
	height: 30px;
	margin-top: 20px;
}

input:nth-of-type(3) {
	height: 100px;
}

.contact button {
	margin-top: 20px;
	width: 70%;
	height: 40px;
}