*{
    margin: 0;
    padding: 0;
}


.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [header-start] 15vh [header-end] 85vh [footer] 130vh [footer-end];
    font-size: 10px;
    font-family: roboto, sans-serif;
}

header {
    line-height: 15vh;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    background-color: #F9D518;
    /* border-bottom: 1px solid #d7c03b; */
    box-shadow:  0 0 1px;
}

main {
    display: grid;
    grid-template-rows: [h1-start] 5vh [h1-end] 25vh [logo1] 25vh [logo2] 25vh [logo3] 5vh [more];
}
main h2 {
    line-height: 5vh;
    text-align: center;
    font-size: 2em;
}
